<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{question.title}}</h2>
  </div>
  <div class="panel-body">
    <p>
      {{question.content}}
    </p>
  </div>
  <div class="panel-footer">
    <h5>Asked by {{question.author}} on {{question.createdAt}}</h5>
  </div>
</div>
{{question-update question=question update="update" destroyQuestion='destroyQuestion'}}
<h4>Answers:</h4>
{{answer-tile answers=question.answers}}
