<div class="panel ">
  <div class="panel-heading question">
    <h2>{{question.title}}</h2>
  </div>
  <div class="panel-body">
    <p>
      {{question.content}}
    </p>
  </div>
  <div class="panel-footer question-foot">
    <h5>Asked by {{question.author}} on {{question.createdAt}}</h5>
    {{question-update question=question update="update" destroyQuestion='destroyQuestion'}}
  </div>

</div>

<h3>Answers: ({{question.answers.length}})</h3>
<br>
{{answer-tile answers=question.answers}}
